@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* dark01 */
.text-hard-grey{
    color: #131313;
}
/* dark02 */
.text-grey{
    color: #424242;
}
/* dark03 */
.text-light-grey{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */

/* navbar related styles */

.navbar{
    justify-content: space-between;
    align-items: center;
    
}
.brand-title{
    font-weight: 700;
    font-size: 3rem;

}
.nav-items{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18;
    font-weight: 500;

}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 861px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    font-weight: 400;
    font-size: 1rem;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 21px 24px 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;

}
.banner-image{
    max-width: 100%;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }

    
}

